<h1 style="margin-bottom: 5px; margin-top: 10px;">
  Kefan Chen
</h1>
<h2 style="margin-top: 0px; margin-bottom: 10px;">
  <small>kc2039@hw.ac.uk</small>
</h2>


<div class="row">
  <div class="col-md-4">
    <div class="row" style="margin-left: 0px;">
      <img class="img-fluid" src="/assets/the_only_selfie.jpg" alt="" width="300"/>
      <p class="mt-2" style="color: #444; font-style: italic; font-size: smaller;">
        This pic was taken many years ago when I still young
      </p>
    </div>
    <div class="row" style="margin-left: 0px;">
      <a href="https://github.com/cat-loves-donuts" style="height: 30px; width: 30px; margin-left: 10px;">
        <img src="/assets/github_icon.png" alt="" style="height: 30px;">
      </a>
      <a href="https://www.linkedin.com/in/kefan-chen-24387417b/" style="height: 30px; width: 30px; margin-left: 35px;">
        <img src="/assets/linkedin_icon.png" alt="" style="height: 30px;">
      </a>
      <a href="https://scholar.google.com/citations?user=LENo52IAAAAJ&hl=en" style="height: 30px; width: 30px; margin-left: 35px;">
        <img src="/assets/google_icon.png" alt="" style="height: 30px;">
      </a>

    </div>
  </div>
  <div class="col-md-8">
    <h3>About me...</h3>
    <p>
      Hello, I am currently a Postgraduate Research Student at Heriot-Watt University supervised by Prof. Lynne Baillie and Dr. Wei Pang, focusing on Explainable AI, AI fairness, and Human-Computer Interaction. I graduated with a Bachelor's degree in Electronic Information Science and Technology from The Sichuan University of Science and Engineering in 2018. And in 2019, I got a Master's degree of Artificial Intelligence from the University of Aberdeen, with distinction. Following my graduation, I gained valuable industry experience, served in a game development company and a software company's research lab for two and a half years. After that, I received a full scholarship and start to pursue my Ph.D.
    </p>
    <p>
      My personal interests are mostly around game development and AI algorithm research. While I may not have any significant achievements yet, my passion for these fields remains existing. Recently, I want to learning to play the piano, but does this seem like I'm not very focused on my research?
    </p>
    <button id="toggleButton">The cat in the corner?</button>
    <p id="hiddenText" class="hidden">BTW, in the bottom right corner is my cat, named "Yi Qian Wu" (due to an unexpected Rabies vaccine cost of 1,500 yuan on the day I found him, after he scratched me). He's quite fat now, around 6kg. But, if you like, please feed him a donut, he won't gain any more weight here! And DO NOT feed the realworld cat with any donuts, it is not good.
    </p>
  </div>
</div>

<h3 class="my-4">Publications</h3>
{% bibliography --template bibtext %}

<h3 class="my-4">Projects</h3>
<div class="row">
  <div class="col-4">
    <div class="card shadow h-100 course_card">
      <a href="https://www.primecommunities.online/" style="color: inherit;">
        <img src="/assets/LOGO_PRIME.png" class="card-img-top course_card_img">
        <div class="card-body pb-0">
          <h5 class="card-title course_title">
            PRIME
          </h5>
          <p class="mb-2 text-truncate-2 course_details">Protecting Minority Ethnic Communities Online (PRIME)</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-4">
      <div class="card shadow h-100 course_card">
        <img src="/assets/no_pic_yet.png" class="card-img-top course_card_img">
        <div class="card-body pb-0">
          <h5 class="card-title course_title">
            GNN for Recommendation System with Fairness and Safety
          </h5>
          <p class="mb-2 text-truncate-2 course_details">Researching on more fairness and safty Recommendation System based on Graph Neural Networks</p>
        </div>
      </div>
  </div>
  <div class="col-4">
    
  </div>
</div>


<h3 class="my-4">Other things</h3>
<div class="col-md-4">
  <img class="img-fluid" src="/assets/working.gif" alt=""/>

</div>
