<h1 style="margin-bottom: 5px; margin-top: 10px;">
  Kefan Chen
</h1>
<h2 style="margin-top: 0px; margin-bottom: 10px;">
  <small>kc2039@hw.ac.uk</small>
</h2>


<div class="row">
  <div class="col-md-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
    <p class="mt-2" style="color: #444; font-style: italic; font-size: smaller;">
      This pic was taken many years ago when I still young
    </p>
  </div>
  <div class="col-md-8">
    <h3>About me...</h3>
    <p>
      Hello, I am currently a Postgraduate Research Student at Heriot-Watt University supervised by Prof. Lynne Baillie, focusing on Explainable AI, AI fairness, and Human-Computer Interaction. I graduated with a Bachelor's degree in Electronic Information Science and Technology from The Sichuan University of Science and Engineering in 2018. And in 2019, I got a Master's degree of Artificial Intelligence from the University of Aberdeen, with distinction. Following my graduation, I gained valuable industry experience, served in a game development company and a software company's research lab for two and a half years. After that, I received a full scholarship and start to pursue my Ph.D.
    </p>
    <p>
      My personal interests are mostly around game development and AI algorithm research. While I may not have any significant achievements yet, my passion for these fields remains existing. Recently, I want to learning to play the piano, but does this seem like I'm not very focused on my research?
    </p>
    <button id="toggleButton">The cat in the corner?</button>
    <p id="hiddenText" class="hidden">BTW, in the bottom right corner is my cat, named "One Thousand and Five Hundred" (due to an unexpected vet bill of 1,500 yuan on the day I found him, after he scratched me). He's quite fat now, around 6kg. But, if you like, please feed him a donut, he won't gain any more weight here!
    </p>
  </div>
</div>

<h3 class="my-4">Publications</h3>
{% bibliography --template bibtext %}

<h3 class="my-4">Projects</h3>
<div class="row">
  <div class="col-3">
    
  </div>
  <div class="col-3">

  </div>
  <div class="col-3">

  </div>
</div>
